<div class="banner ">
  <div class="banner-content animated zoomIn">

    <h1 id="titlebanner" class="animated zoomIn" >Estudiante!</h1>
     <h2 class="animated zoomIn">Çonoce tu país, resuelve sus problemas!</h2>

      <%= link_to "START NOW!", class: "btn btn-lg btn-start startbutton animated zoomIn"  %>
  </div>
</div>
